/* GENERAL PRESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  width: 100%;
  margin: 65px auto;
  text-align: center;
}

.image-top, .image-bottom {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

h1 {
  text-transform: uppercase;
}


/* MAIN - TEXT */

.price {
  margin-top: 10px;
  text-align: left;
}

.new-prize {
  color: red;
  font-weight: bold;
}

.new-prize::after {
  content: "\20AC";
}

.old-prize {
  color: black;
  text-decoration: line-through;
}

.old-prize::after {
  content: "\20AC";
}

.discount {
  background-color: rgb(235, 0, 55);
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 7px;
  bottom: 110px;
  left: 0;  
}

.eco {
  background-color: rgb(0, 135, 90);
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  position: absolute;
  padding: 7px;
  bottom: 110px;
  left: 55px;
}

.eco-solo {
  background-color: rgb(0, 135, 90);
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  position: absolute;
  padding: 7px;
  bottom: 110px;
  left: 0;
}

.favourite {
  background-color: white;
  color: black;
  font-size: xx-large;
  position: absolute;
  padding: 17px;
  top: 18px;
  right: 0
}

.favourite:hover {
  color: red;
}

.price > span {
  text-transform: capitalize;
}


/* MAIN - TOP HOVER PHOTOS*/

.top-left:hover {
  content: url(/img/1b.webp);
}

.top-middle:hover {
  content: url(/img/2b.webp);
}

.top-right {
width: 640px;
height: 924px;
}

.top-right:hover {
  content: url(/img/3b.webp);
}


/* MAIN - BOTTOM HOVER PHOTOS */

.bottom-left:hover {
  content: url(/img/4b.webp);
}

.bottom-middle:hover {
  content: url(/img/5b.webp);
}

.bottom-right:hover {
  content: url(/img/6b.webp);
}



